@charset "UTF-8";
html {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 2.3468057366vw;
  }
}

img {
  width: 100%;
}

a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

.inner {
  width: 100%;
  max-width: calc(1000px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.only-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

a {
  text-decoration: none;
}

body {
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* a 要素のリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.lp1 h2 {
  border-top-color: transparent;
  border-top: none !important;
  font-family: "hiragino-kaku-gothic-pron", sans-serif !important;
  background: transparent;
  padding: 0;
  border-bottom: none;
}
.lp1 h3 {
  border-bottom: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-bottom: 0;
  font-family: "hiragino-kaku-gothic-pron", sans-serif !important;
}
.lp1 h3::after {
  display: none;
}

.vk-mobile-nav-menu-btn {
  display: none !important;
}

.header {
  background: rgba(255, 255, 255, 0.8);
  padding: 1.21875rem 0rem 1.1875rem;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.header__inner {
  width: 100%;
  max-width: calc(1295.8705px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.header__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__icon {
  max-width: 7.90625rem;
  width: 100%;
}

.header__btnArea {
  max-width: 13.3612rem;
  width: 100%;
}

.headerBtn {
  background: #64c2db;
  border-radius: 1.55025rem;
  display: inline-block;
  padding: 0.4375rem 0.50316875rem 0.375rem;
  width: 13.3612rem;
}

.headerBtn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1875rem;
}

.headerBtn__icon {
  max-width: 2.27285625rem;
  width: 100%;
}

.headerBtn__text {
  font-size: 1.19875rem;
  font-weight: 600;
  line-height: 1.7502606882;
  color: #fff;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.fv {
  position: relative;
  padding-bottom: 1.375rem;
  padding-top: 7.125rem;
  overflow: hidden;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.fv__bg-top {
  position: absolute;
  top: -1.3125rem;
  right: 0;
  max-width: 37.994125rem;
  width: 100%;
}

.fv__bg-bottom {
  position: absolute;
  bottom: -8.5rem;
  left: 47.4%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 107.9213752743vw;
}
@media screen and (max-width: 959px) {
  .fv__bg-bottom {
    bottom: -13%;
  }
}

.fv__inner {
  width: 100%;
  max-width: calc(1123.7671px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-top: 1.8125rem;
}
@media screen and (max-width: 767px) {
  .fv__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.fv__bg-left {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 2.78125rem;
  width: 100%;
}

.fv__bg-right {
  position: absolute;
  right: 0;
  bottom: 9.00328125rem;
  max-width: 3.38314375rem;
  width: 100%;
}

.fv__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0rem;
}
@media screen and (max-width: 959px) {
  .fv__contents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.fv__apeare-text {
  color: #2983e2;
  font-size: 1.864375rem;
  font-weight: 600;
  line-height: 1.7499161918;
  text-align: center;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.fv__apeare-text--line {
  display: inline-block;
  padding: 0rem 1.5rem;
  position: relative;
}

.fv__apeare-text--line::before,
.fv__apeare-text--line::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 2.5px;
  height: 2.5rem;
  top: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #2983e2;
}

.fv__apeare-text--line::before {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(-24deg);
          transform: translateY(-50%) rotate(-24deg);
}

.fv__apeare-text--line::after {
  right: 0;
  -webkit-transform: translateY(-50%) rotate(24deg);
          transform: translateY(-50%) rotate(24deg);
}

.fv__title {
  max-width: 28.0625rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.8125rem;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.fv__cost {
  font-size: 1.581875rem;
  line-height: 1.7499012248;
  font-weight: 600;
  margin-top: 0.6875rem;
  text-align: center;
}

.fv__batchArea {
  margin-top: 1.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5625rem;
}

.fv__batch {
  max-width: 6.73198125rem;
  width: 100%;
}

.fv__btnArea {
  margin-top: 1.40625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fvBtn {
  border-radius: 1.6548125rem;
  max-width: 14.26195rem;
  width: 100%;
  display: inline-block;
  padding: 0.46875rem 0.5625rem;
  white-space: nowrap;
}

.fvBtn--download {
  background: -webkit-gradient(linear, left top, right top, from(#39b54a), to(#4eddaa));
  background: linear-gradient(90deg, #39b54a 0%, #4eddaa 100%);
}

.fvBtn--account {
  background: -webkit-gradient(linear, left top, right top, from(#2983e2), to(#3fb0ed));
  background: linear-gradient(90deg, #2983e2 0%, #3fb0ed 100%);
}

.fvBtn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.54035625rem;
}

.fvBtn--account .fvBtn__content {
  gap: 1.0625rem;
}

.fvBtn__icon {
  max-width: 2.46875rem;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.fvBtn__text {
  font-size: 1.28rem;
  font-weight: 600;
  line-height: 1.7495117187;
  color: #fff;
}

.fv__textArea {
  width: 100%;
}

.fv__imageArea {
  max-width: 38.6294125rem;
  width: 100%;
  padding-top: 0.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 959px) {
  .fv__imageArea {
    max-width: 100%;
  }
}

.fv__operation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
  padding: 0.375rem 0.5rem;
  background: #fff;
  -webkit-box-shadow: 0.118925rem 0.118925rem 0.23785rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.118925rem 0.118925rem 0.23785rem rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 31.5574375rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.fv__operation-content::after {
  position: absolute;
  display: inline-block;
  background: #fff;
  content: "";
  width: 1.625rem;
  height: 1rem;
  -webkit-box-shadow: 0.118925rem 0.118925rem 0.23785rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.118925rem 0.118925rem 0.23785rem rgba(0, 0, 0, 0.3);
  -webkit-clip-path: polygon(15% 0%, 0% 100%, 100% 0%);
          clip-path: polygon(15% 0%, 0% 100%, 100% 0%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: calc(100% - 1px);
  right: 24%;
}

.fv__operation-icon {
  max-width: 1.875rem;
  width: 100%;
}

.fv__operation-text {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #2983e2;
  padding-top: 0.0625rem;
}

.fv__mainImage {
  width: 100%;
  margin-top: 0.53125rem;
  margin-left: 0.0625rem;
}

.fv__achieve-content {
  margin-top: 2.71875rem;
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  background: #fff;
  padding: 1.28125rem 0rem 0.9375rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.375rem;
}

.fv__achieve-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.375rem;
  -webkit-animation: scroll-left 60s infinite linear 0.5s both;
          animation: scroll-left 60s infinite linear 0.5s both;
}

.fv__achieve {
  width: 10.39391875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fv__achieve--small {
  width: 7.668075rem;
}

@-webkit-keyframes scroll-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.about {
  padding-top: 4.375rem;
  padding-bottom: 6.0625rem;
  background: #41b5d0;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.about__inner {
  width: 100%;
  max-width: calc(1068.9596px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 959px) {
  .about__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.about-title__en {
  color: #fff;
}

.about-title__main {
  max-width: 25.75rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.about__body {
  margin-top: 4.25rem;
}

.about__description {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.8333333333;
  text-align: justify;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  padding: 0rem 0.46875rem;
}

.about__contents {
  margin-top: 3.9375rem;
  border-radius: 1.4135rem;
  background: #fff;
  -webkit-box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
  padding: 2rem 1.75rem 2.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5.51243125rem;
}
@media screen and (max-width: 959px) {
  .about__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__content-wrapper {
  position: relative;
}

.about__content {
  max-width: 19.875rem;
  width: 100%;
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
  border-radius: 0.6758125rem;
  overflow: hidden;
  height: 100%;
}
@media screen and (max-width: 959px) {
  .about__content {
    max-width: 100%;
    height: auto;
  }
}

.about__content--company {
  max-width: 12.5340625rem;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-flex-item-align: center;
      align-self: center;
  background: #84cdde;
}

.about__head {
  background: #364061;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 1.8125rem;
  line-height: 1;
  padding: 1.5rem 0.25rem;
}

.about__content-body {
  padding: 1.77951875rem 1.33734375rem;
  gap: 1.17560625rem;
}

.about__item + .about__item {
  margin-top: 1.25rem;
}

.aboutItem {
  background: #f2f2f2;
  border-radius: 0.3861875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.59788125rem 1.3125rem 1.50365625rem 0;
}
@media screen and (max-width: 959px) {
  .aboutItem {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.aboutItem__image {
  -ms-flex-preferred-size: 44.6318214265%;
      flex-basis: 44.6318214265%;
}

.aboutItem__image img {
  margin-right: auto;
  margin-left: auto;
}

.aboutItem__image--first img {
  max-width: 50.8643586498%;
}

.aboutItem__image--second img {
  max-width: 47.8937816019%;
}

.aboutItem__image--tird img {
  max-width: 54.9072355607%;
}

.aboutItem__head {
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1;
}

.aboutItem__description {
  font-size: 1.125rem;
  line-height: 1.3888888889;
  margin-top: 0.8245125rem;
}

.about__arrows {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about__arrows--cliant {
  left: calc(100% - 0.723575rem);
}
@media screen and (max-width: 959px) {
  .about__arrows--cliant {
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(90deg);
            transform: translateX(-50%) rotate(90deg);
    top: calc(100% - 2.125rem);
  }
}

.about__arrows--moniter {
  right: calc(100% - 0.723575rem);
}
@media screen and (max-width: 959px) {
  .about__arrows--moniter {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(90deg);
            transform: translateX(-50%) rotate(90deg);
    top: auto;
    bottom: calc(100% - 2.125rem);
  }
}

.about__arrow {
  width: 6.19411875rem;
  position: relative;
}

.about__arrow + .about__arrow {
  margin-top: 2.64195rem;
}

.about__arrow-text {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.3125rem;
  line-height: 1;
}
@media screen and (max-width: 959px) {
  .about__arrow-text {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    white-space: nowrap;
  }
}

.about__arrow-text--top {
  bottom: calc(100% + 0.8884625rem);
}

.about__arrow-text--bottom {
  top: calc(100% + 0.8884625rem);
}

.about__content--company {
  position: relative;
}
@media screen and (max-width: 959px) {
  .about__content--company {
    max-width: 50%;
  }
}

.about__content--company::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}

.about__content-logo {
  width: 53.8516542422%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.moniterTop {
  background: #f2f2f2;
  border-radius: 0.3861875rem;
  width: 100%;
  padding: 1.6875rem 0.5rem 2.25rem 0.75rem;
}

.moniterTop__head {
  text-align: center;
}

.moniterTop__head-text {
  display: inline-block;
  border: 1px solid #000;
  padding: 0.1875rem 0.375rem;
  font-size: 1.413125rem;
  line-height: 1;
  font-weight: 600;
}

.moniterTop__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.25rem;
}
@media screen and (max-width: 959px) {
  .moniterTop__flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.moniterTop__icon {
  max-width: 2.19184375rem;
  width: 100%;
}

.moniterTop__text {
  font-weight: 600;
  font-size: 2.249375rem;
  line-height: 1;
  color: #41b5d0;
}

.moniterTop__text--large {
  font-size: 3.24875rem;
}

.about__moniter-arrow {
  max-width: 5.18945rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem;
}

.about__moniter-bottom {
  margin-top: 1.5rem;
}

.aboutBottom__head {
  font-size: 1.625rem;
  line-height: 1;
  font-weight: 600;
}

.aboutBottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.aboutBottom__item {
  width: calc((100% - 1rem) / 3);
  background: #f2f2f2;
  border-radius: 0.344375rem;
  padding: 0.75rem 0.25rem;
  position: relative;
}

.aboutBottom__item::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 74.2365260549%;
}

.aboutBottom__item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2222222222;
  width: 100%;
}

.aboutBottom__bottom-text {
  text-align: right;
  margin-top: 0.5rem;
  font-size: 0.9375rem;
}

.feature {
  background: #fff;
  padding: 5rem 0rem 4.21875rem;
  background: #e3f4f7;
}

.feature__inner {
  width: 100%;
  max-width: calc(848px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .feature__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.feature-title__en {
  color: #41b5d0;
}

.feature-title__main {
  max-width: 21.375rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.feature__body {
  margin-top: 3.875rem;
}

.feature__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature__item {
  width: calc((100% - 1.5rem) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .feature__item {
    width: calc((100% - 0rem) / 1);
  }
}

.feature__image {
  max-width: 5.272rem;
  width: 100%;
}

.feature__description {
  font-size: 1.4375rem;
  font-weight: 600;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.concern {
  background: #41b5d0;
  padding: 3.4375rem 0rem 4.5rem;
}

.concern__inner {
  width: 100%;
  max-width: calc(722.5081px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .concern__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.concern-title__en {
  color: #fff;
}

.concern-title .concern-title__main {
  margin-top: 1.4375rem;
  max-width: 34.4375rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.concern__body {
  margin-top: 3.9375rem;
}

.concern__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.03125rem 2.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.concern__item {
  width: calc((100% - 2.875rem) / 2);
}
@media screen and (max-width: 767px) {
  .concern__item {
    width: 100%;
  }
}

.concern__description {
  margin-top: 0.8125rem;
  font-size: 1.25rem;
  line-height: 1.65;
  font-weight: 600;
  color: #fff;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  text-align: justify;
}

.concern__image {
  border-radius: 1.0093125rem;
  -webkit-box-shadow: 0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.3);
}

.resolve {
  background: #fff;
  padding: 3.9375rem 0rem 7.5rem;
}
@media screen and (max-width: 767px) {
  .resolve {
    padding-bottom: 10rem;
  }
}

.resolve__inner {
  width: 100%;
  max-width: calc(1002px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .resolve__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.resolve-title__en {
  color: #41b5d0;
}

.resolve-title .resolve-title__main {
  margin-top: 1.375rem;
  max-width: 47.1875rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.resolve__body {
  margin-top: 6.0625rem;
}

.resolve__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.9375rem;
}
@media screen and (max-width: 767px) {
  .resolve__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
  }
}

.resolve__item + .resolve__item {
  margin-top: 4.84375rem;
}

.resolve__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .resolve__item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.resolve__image {
  border-radius: 1.3404375rem;
  width: 44.9100998004%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .resolve__image {
    width: 100%;
  }
}

.resolve__text {
  margin-top: 0.15625rem;
}
@media screen and (max-width: 767px) {
  .resolve__text {
    margin-top: 0rem;
  }
}

.resolve__head {
  color: #0f9cbf;
  font-weight: 600;
  font-size: 1.875rem;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  white-space: nowrap;
}
@media screen and (max-width: 1020px) {
  .resolve__head {
    white-space: wrap;
  }
}

.resolve__description {
  margin-top: 1.3125rem;
  font-size: 1.375rem;
  line-height: 1.8181818182;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  text-align: justify;
}

.footer {
  background: #fff;
  padding: 1rem 0rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.footer__inner {
  width: 100%;
  max-width: calc(892.3998px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .footer__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 767px) {
  .footer__contents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__description {
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 600;
  white-space: nowrap;
}

.footer__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .footer__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.price {
  background: #41b5d0;
  padding: 3.4375rem 0rem 4.5rem;
}

.price__inner {
  width: 100%;
  max-width: calc(849.4609px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .price__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.price-title__en {
  color: #fff;
}

.price-title .price-title__main {
  margin-top: 1.4375rem;
  max-width: 13.53943125rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.price__body {
  margin-top: 3.9375rem;
}

.price__top-wrapper {
  max-width: 35.01169375rem;
  width: 100%;
  padding-top: 2.3125rem;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.price__top-head {
  display: inline;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  background: #fff;
  line-height: 1;
  padding: 1rem 3.75rem;
  font-size: 1.625rem;
  font-weight: 600;
  border-radius: 0.5431875rem;
  z-index: 1;
  white-space: nowrap;
}

.price__top-box {
  border: 0.3125rem solid #fff;
  border-radius: 0.8135rem;
  padding: 2.5rem 1rem 1.5rem;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

.price__top-text-main {
  font-size: 2.3325rem;
}

.price__top-text-main--large {
  font-size: 4.36125rem;
  font-family: "din-2014", sans-serif;
}

.price__top-text-sub {
  font-size: 1.6875rem;
}

.price__middle-wrapper {
  margin-top: 2.5rem;
  max-width: 46.3078rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.price__middle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3.9375rem;
}

.price__middle-item {
  width: calc((100% - 7.875rem) / 2);
  background: #fff;
  border-radius: 50%;
  position: relative;
}

.price__middle-item::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}

.price__middle-item-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.price__middle-item-text {
  font-weight: 600;
  font-size: 2.950625rem;
  text-align: center;
  line-height: 1;
}

.price__middle-item-text--large {
  font-size: 5.43625rem;
  font-family: "din-2014", sans-serif;
}

.price__middle-item-icon {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.price__middle-item:nth-child(1) .price__middle-item-icon {
  max-width: 3.44029375rem;
}

.price__middle-item:nth-child(2) .price__middle-item-icon {
  max-width: 2.00623125rem;
}

.price__middle-item:nth-child(3) .price__middle-item-icon {
  max-width: 4.10130625rem;
}

.price__middle-item-cross {
  max-width: 1.6264625rem;
  width: 100%;
  position: absolute;
  top: 27%;
}

.price__middle-item:nth-child(1) .price__middle-item-cross {
  left: calc(100% + 1.25rem);
}

.price__middle-item:nth-child(3) .price__middle-item-cross {
  right: calc(100% + 1.25rem);
}

.price__middle-item:nth-child(2n-1) {
  margin-top: 4.375rem;
}

.price__middle-description {
  font-size: 1.6875rem;
  font-weight: 600;
  line-height: 1.75;
  text-align: center;
  margin-top: -1.6875rem;
  color: #fff;
}

.price__bottom-wrapper {
  margin-top: 2.5rem;
  position: relative;
  padding-top: 2.375rem;
  position: relative;
  max-width: 53.09130625rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.price__bottom-head {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  border: 0.3125rem solid #fff;
  background: #41b5d0;
  color: #fff;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1;
  padding: 1rem 3.75rem;
  display: inline-block;
  border-radius: 0.782875rem;
}

.price__bottom-content {
  background: #fff;
  border-radius: 1.2526875rem;
  padding: 3.125rem 2rem 2.5rem;
}

.price__bottom-item + .price__bottom-item {
  padding-top: 1.25rem;
  margin-top: 1.25rem;
  border-top: 0.1875rem solid #41b5d0;
}

.priceItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.priceItem__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.priceItem__images-person {
  max-width: 4.5906375rem;
  width: 100%;
}

.priceItem__images-cross {
  max-width: 1.29684375rem;
  width: 100%;
}

.priceItem__images-question {
  max-width: 2.74308125rem;
  width: 100%;
}

.priceItem__text {
  margin-left: 1.5rem;
  font-size: 1.875rem;
  font-weight: 600;
}

.priceItem__text--large {
  font-size: 3.25rem;
  font-family: "din-2014", sans-serif;
}

.priceItem__price {
  margin-left: auto;
  font-size: 1.875rem;
  font-weight: 600;
}

.priceItem__price--large {
  font-size: 3.25rem;
  font-family: "din-2014", sans-serif;
}

.price__btn-wrapper {
  margin-top: 2rem;
  text-align: center;
}

.price__btn {
  display: inline-block;
  text-align: center;
  background: #fff;
  max-width: 31.704175rem;
  width: 100%;
  border-radius: 2.9646875rem;
  padding: 2.0625rem 1rem;
  position: relative;
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 600;
}

.price__btn::after {
  content: "";
  position: absolute;
  display: inline-block;
  background: #41b5d0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 3.25rem;
  width: 0.73193125rem;
  height: 1.46385625rem;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.works {
  background: #fff;
  padding: 3.9375rem 0rem 7.5rem;
}
@media screen and (max-width: 767px) {
  .works {
    padding-bottom: 10rem;
  }
}

.works__inner {
  width: 100%;
  max-width: calc(1209.0858px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .works__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.works-title .works-title__main {
  margin-top: 1.375rem;
  max-width: 11.25rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.works__body {
  margin-top: 6.0625rem;
  padding: 0rem 4.1875rem;
  position: relative;
}

.works-slide {
  border-radius: 1.3404375rem;
  background: #9bd2e3;
  max-width: 67.42706875rem;
  width: 100%;
  padding: 1.5rem 1.5rem;
}

.works-slide__wrappper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.slide__image {
  max-width: 25.019625rem;
  width: 100%;
}

.works-slide__head {
  font-size: 1.875rem;
  font-weight: 600;
}

.works-slide__body {
  margin-top: 1rem;
}

.works-slide__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.works-slide__item + .works-slide__item {
  margin-top: 1rem;
}

.works-slide__label {
  display: inline-block;
  border-radius: 0.5111875rem;
  background: #fff;
  text-align: center;
  line-height: 1;
  padding: 0.5rem 1.5rem;
  font-size: 1.499375rem;
  font-weight: 600;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  white-space: nowrap;
}

.works-slide__description {
  font-size: 1.4375rem;
  line-height: 1.3913043478;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  text-align: justify;
}

.swiper-button-next,
.swiper-button-prev {
  background: #0f9cbf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 4.4536625rem;
  width: 2.22683125rem;
}

.swiper-button-next {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.swiper-button-prev {
  -webkit-clip-path: polygon(0% 50%, 0% 100%, 100% 100%);
          clip-path: polygon(0% 50%, 0% 100%, 100% 100%);
}

.c-blue {
  color: #41b5d0;
}

.c-trans {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.sec-title {
  text-align: center;
}

.sec-title__en {
  font-size: 1.3125rem;
  font-weight: 600;
}

.sec-title__main {
  margin-top: 0.8125rem;
}

.flex-direc-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.t-align-c {
  text-align: center;
}