@charset "UTF-8";
html {
  font-size: 16px;
}
@media screen and (max-width: 1290px) {
  html {
    font-size: 1.2403100775vw;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 2.0860495437vw;
  }
}

img {
  width: 100%;
}

a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

.inner {
  width: 100%;
  max-width: calc(1000px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.only-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

a {
  text-decoration: none;
}

body {
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* a 要素のリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.lp1 h2 {
  border-top-color: transparent;
  border-top: none !important;
  font-family: "hiragino-kaku-gothic-pron", sans-serif !important;
  background: transparent;
  padding: 0;
  border-bottom: none;
}
.lp1 h3 {
  border-bottom: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-bottom: 0;
  font-family: "hiragino-kaku-gothic-pron", sans-serif !important;
}
.lp1 h3::after {
  display: none;
}

.vk-mobile-nav-menu-btn {
  display: none !important;
}

.header {
  background: rgba(255, 255, 255, 0.8);
  padding: 1.21875rem 0rem 1.1875rem;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.header__inner {
  width: 100%;
  max-width: calc(1295.8705px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.header__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__icon {
  max-width: 7.90625rem;
  width: 100%;
}

.header__btnArea {
  max-width: 13.3612rem;
  width: 100%;
}

.headerBtn {
  background: #64c2db;
  border-radius: 1.55025rem;
  display: inline-block;
  padding: 0.4375rem 0.50316875rem 0.375rem;
  width: 13.3612rem;
}

.headerBtn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1875rem;
}

.headerBtn__icon {
  max-width: 2.27285625rem;
  width: 100%;
}

.headerBtn__text {
  font-size: 1.19875rem;
  font-weight: 600;
  line-height: 1.7502606882;
  color: #fff;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.fv {
  position: relative;
  padding-bottom: 1.4264375rem;
  padding-top: 7.125rem;
  overflow: hidden;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.fv__bg-top {
  position: absolute;
  top: -1.3125rem;
  right: 0;
  max-width: 37.994125rem;
  width: 100%;
}

.fv__bg-bottom {
  position: absolute;
  bottom: -8.5rem;
  left: 47.4%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 107.9213752743vw;
}

.fv__inner {
  width: 100%;
  max-width: calc(1148.7671px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-top: 1.8125rem;
}
@media screen and (max-width: 767px) {
  .fv__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.fv__bg-left {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 2.78125rem;
  width: 100%;
}

.fv__bg-right {
  position: absolute;
  right: 0;
  bottom: 9.00328125rem;
  max-width: 3.38314375rem;
  width: 100%;
}

.fv__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  padding-left: 0.4375rem;
}

.fv__apeare-text {
  color: #2983e2;
  font-size: 1.864375rem;
  font-weight: 600;
  line-height: 1.7499161918;
  text-align: center;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.fv__apeare-text--line {
  display: inline-block;
  padding: 0rem 1.5rem;
  position: relative;
}

.fv__apeare-text--line::before,
.fv__apeare-text--line::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 2.5px;
  height: 2.5rem;
  top: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #2983e2;
}

.fv__apeare-text--line::before {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(-24deg);
          transform: translateY(-50%) rotate(-24deg);
}

.fv__apeare-text--line::after {
  right: 0;
  -webkit-transform: translateY(-50%) rotate(24deg);
          transform: translateY(-50%) rotate(24deg);
}

.fv__title {
  font-size: 2.958125rem;
  line-height: 1.7498415381;
  font-family: "FP-ヒラギノ角ゴ StdN W8", sans-serif;
  text-align: center;
  margin-top: -0.3125rem;
  letter-spacing: 0.024em;
}

.fv__cost {
  font-size: 1.581875rem;
  line-height: 1.7499012248;
  font-weight: 600;
  margin-top: -0.5rem;
  text-align: center;
}

.fv__batchArea {
  margin-top: 1.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5625rem;
}

.fv__batch {
  max-width: 6.73198125rem;
  width: 100%;
}

.fv__btnArea {
  margin-top: 1.40625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fvBtn {
  border-radius: 1.6548125rem;
  max-width: 14.26195rem;
  width: 100%;
  display: inline-block;
  padding: 0.46875rem 0.5625rem;
  white-space: nowrap;
}

.fvBtn--download {
  background: -webkit-gradient(linear, left top, right top, from(#39b54a), to(#4eddaa));
  background: linear-gradient(90deg, #39b54a 0%, #4eddaa 100%);
}

.fvBtn--account {
  background: -webkit-gradient(linear, left top, right top, from(#2983e2), to(#3fb0ed));
  background: linear-gradient(90deg, #2983e2 0%, #3fb0ed 100%);
}

.fvBtn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.54035625rem;
}

.fvBtn--account .fvBtn__content {
  gap: 1.0625rem;
}

.fvBtn__icon {
  max-width: 2.46875rem;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.fvBtn__text {
  font-size: 1.28rem;
  font-weight: 600;
  line-height: 1.7495117187;
  color: #fff;
}

.fv__imageArea {
  max-width: 38.6294125rem;
  width: 100%;
  padding-top: 0.375rem;
}

.fv__operation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
  padding: 0.375rem 0.5rem;
  background: #fff;
  -webkit-box-shadow: 0.118925rem 0.118925rem 0.23785rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.118925rem 0.118925rem 0.23785rem rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 31.5574375rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.fv__operation-content::after {
  position: absolute;
  display: inline-block;
  background: #fff;
  content: "";
  width: 1.625rem;
  height: 1rem;
  -webkit-box-shadow: 0.118925rem 0.118925rem 0.23785rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.118925rem 0.118925rem 0.23785rem rgba(0, 0, 0, 0.3);
  -webkit-clip-path: polygon(15% 0%, 0% 100%, 100% 0%);
          clip-path: polygon(15% 0%, 0% 100%, 100% 0%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: calc(100% - 1px);
  right: 24%;
}

.fv__operation-icon {
  max-width: 1.875rem;
  width: 100%;
}

.fv__operation-text {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #2983e2;
  padding-top: 0.0625rem;
}

.fv__mainImage {
  width: 100%;
  margin-top: 0.53125rem;
  margin-left: 0.0625rem;
}

.fv__achieve-content {
  margin-top: 1.5rem;
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  background: #fff;
  padding: 1.3125rem 0rem 0.875rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.375rem;
}

.fv__achieve-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.375rem;
  -webkit-animation: scroll-left 60s infinite linear 0.5s both;
          animation: scroll-left 60s infinite linear 0.5s both;
}

.fv__achieve {
  width: 10.39391875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fv__achieve--small {
  width: 7.668075rem;
}

@-webkit-keyframes scroll-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.about {
  padding-top: 4.375rem;
  padding-bottom: 5rem;
  background: #41b5d0;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.about__inner {
  width: 100%;
  max-width: calc(995.3274px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .about__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.about-title__en {
  color: #fff;
}

.about-title__main {
  color: #fff;
}

.about__body {
  margin-top: 3.8125rem;
}

.about__description {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.8333333333;
  text-align: justify;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  padding: 0rem 2.5px;
}

.about__contents {
  margin-top: 3.9375rem;
  border-radius: 1.4135rem;
  background: #fff;
  -webkit-box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
  padding: 3.54325rem 4.97949375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__arrow {
  max-width: 2.20588125rem;
  width: 100%;
  height: 4.41175625rem;
  background: #ed1e51;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 2.25rem;
  margin-right: 1.1875rem;
}

.aboutContet--new {
  max-width: 25.3125rem;
  width: 100%;
}

.aboutContet--old {
  max-width: 21.25rem;
  width: 100%;
}

.aboutContet__head {
  border-radius: 0.3806875rem;
  padding: 1.1875rem 1.175rem 1.3125rem;
  color: #fff;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.aboutContet__description {
  margin-top: 1.35625rem;
  font-size: 1.25rem;
  line-height: 1.5;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.aboutContent__flow {
  margin-top: 1.35625rem;
}

.aboutContent__item {
  border-radius: 0.8695rem;
  padding: 0.8716125rem 0.98823125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.aboutContent__item + .aboutContent__item {
  margin-top: 0.48125rem;
}

.aboutContent__item-text {
  text-align: center;
  font-size: 1.4375rem;
  line-height: 1.3043478261;
  font-weight: 600;
  color: #fff;
  width: calc(100% - 11.67309375rem);
}

.aboutContent__item-image {
  max-width: 11.67309375rem;
  width: 100%;
}

.aboutContent__item-arrows {
  width: 10.76229375rem;
  bottom: -2.5rem;
  right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

.aboutContent__item-arrow {
  max-width: 3.56105rem;
  width: 100%;
  position: relative;
  z-index: 1;
}

.aboutContent__item-arrow--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  display: inline-block;
}

.aboutContet--old .aboutContet__head,
.aboutContet--old .aboutContent__item {
  background: #999999;
}

.aboutContet--new .aboutContet__head,
.aboutContet--new .aboutContent__item {
  background: #2983e2;
}

.aboutContet--new .aboutContent__item--turn {
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutContent__item-turn_left_text {
  color: #2983e2;
  font-size: 1.4375rem;
  line-height: 1.3043478261;
  font-weight: 600;
  text-align: center;
}

.aboutContent__item-turn_image {
  max-width: 7.1753375rem;
  width: 100%;
}

.aboutContent__item-turn_right_text {
  background: #2983e2;
  display: inline-block;
  padding: 0.125rem 0.25rem;
  color: #fcee21;
  font-weight: 600;
  font-size: 1.985rem;
  border-radius: 0.2095rem;
  margin-left: 1.20700625rem;
}

.feature {
  background: #fff;
  padding: 5rem 0rem;
}

.feature__inner {
  width: 100%;
  max-width: calc(713.8821px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .feature__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.feature-title__en {
  color: #41b5d0;
}

.feature__body {
  margin-top: 3.75rem;
}

.feature__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.607825rem 3.0721625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature__item {
  width: calc((100% - 6.144325rem) / 3);
}

.feature__description {
  margin-top: 0.894875rem;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.concern {
  background: #41b5d0;
  padding: 5rem 0rem;
}

.concern__inner {
  width: 100%;
  max-width: calc(722.5081px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .concern__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.concern-title__en {
  color: #fff;
}

.concern-title__main {
  color: #fff;
}

.concern__body {
  margin-top: 2.5rem;
}

.concern__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.34748125rem 2.9317875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.concern__item {
  width: calc((100% - 2.9317875rem) / 2);
}

.concern__description {
  margin-top: 1.31213125rem;
  font-size: 1.25rem;
  line-height: 1.65;
  font-weight: 600;
  color: #fff;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  text-align: justify;
}

.concern__image {
  border-radius: 1.0093125rem;
  -webkit-box-shadow: 0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.3);
}

.resolve {
  background: #fff;
  padding: 5rem 0rem;
}

.resolve__inner {
  width: 100%;
  max-width: calc(1001.3257px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .resolve__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.resolve-title__en {
  color: #41b5d0;
}

.resolve-title__main {
  color: #000;
}

.resolve__body {
  margin-top: 2.5rem;
}

.resolve__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.625rem;
}

.resolve__item + .resolve__item {
  margin-top: 4.89730625rem;
}

.resolve__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.resolve__image {
  border-radius: 1.3404375rem;
  width: 44.9403425878%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.resolve__head {
  color: #0f9cbf;
  font-weight: 600;
  font-size: 1.875rem;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.resolve__description {
  margin-top: 2.38934375rem;
  font-size: 1.375rem;
  line-height: 1.8181818182;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  text-align: justify;
}

.footer {
  background: #fff;
  padding: 1rem 0rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__inner {
  width: 100%;
  max-width: calc(892.3998px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .footer__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.footer__description {
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 600;
  white-space: nowrap;
}

.footer__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.c-blue {
  color: #41b5d0;
}

.c-trans {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.sec-title {
  text-align: center;
}

.sec-title__en {
  font-size: 1.3125rem;
  font-weight: 600;
}

.sec-title__main {
  font-family: "FP-ヒラギノ角ゴ StdN W8", sans-serif;
  font-size: 2.8125rem;
}