@use "../global" as *;

.about {
  padding-top: rem(70);
  padding-bottom: rem(97);
  background: $color-theme;
  font-feature-settings: "palt";
}
.about__inner {
  width: 100%;
  max-width: calc(995.3274px + ($padding-pc * 2));
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @include mq(md) {
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}
.about-title__en {
  color: $color-white;
}
.about-title__main {
  max-width:rem(412);
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.about__body {
  margin-top: rem(68);
}
.about__description {
  color: $color-white;
  font-size: rem(24);
  line-height: calc(44 / 24);
  text-align: justify;
  font-feature-settings: "palt";
  padding: rem(0) rem(7.5);
}
.about__contents {
  margin-top: rem(63);
  border-radius: rem(22.616);
  background: $color-white;
  box-shadow: rem(2) rem(2) rem(5) rgba($color: $color-black, $alpha: 0.3);
  padding: rem(32) rem(29.658) rem(33);
  display: flex;
  justify-content: center;
  gap: rem(88.1989);
  @include mq(lg) {
    flex-direction: column;
  }
}
.about__content {
  max-width:rem(316.112);
  width:100%;
  box-shadow: 0 0 rem(4) rgba($color: $color-black, $alpha: 0.3);
  border-radius: rem(10.813);
}
.about__content--company {
  max-width:rem(200.545);
  border-radius: 50%;
  box-shadow:none;
}
.about__head {
  background: #364061;
  color: $color-white;
  text-align: center;
  font-weight: $bold;
  font-size: rem(29);
  line-height: 1;
  padding: rem(24) rem(4);
}