@use "../global" as *;

.about {
  padding-top: rem(80);
  padding-bottom: rem(80);
  background: $color-theme;
}
.about__inner {
  width: 100%;
  max-width: calc(980.3274px + ($padding-pc * 2));
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @include mq(md) {
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}
.about-title__en {
  color: $color-white;
}
.about-title__main {
  color: $color-white;
}
.about__body {
  margin-top: rem(80);
}
.about__description {
  color: $color-white;
  font-size: rem(24);
  line-height: calc(44 / 24);
  text-align: justify;
}
.about__contents {
  margin-top: rem(60);
  border-radius: rem(22.616);
  background: $color-white;
  box-shadow: rem(2) rem(2) rem(5) rgba($color: $color-black, $alpha: 0.3);
  padding: rem(56.692) rem(79.6719);
  display: flex;
  justify-content: space-between;
}
.aboutContet__head {
  border-radius: rem(6.091);
  padding: rem(18) rem(18.8);
  color: $color-white;
  font-size: rem(26);
  font-weight: $bold;
  line-height: 1;
}
.aboutContet__description {
  margin-top: rem(21.7);
  font-size: rem(20);
  line-height: 1.5;
}
.aboutContent__flow {
  margin-top: rem(21.7);
}
.aboutContent__item {
  border-radius: rem(13.912);
  padding: rem(13.9458) rem(15.8117);
  display: flex;
  align-items: center;
  position: relative;
}
.aboutContent__item-text {
  text-align: center;
  font-size: rem(23);
  line-height: calc(44 / 23);
  font-weight: $bold;
  color: $color-white;
}
.aboutContent__item-image {
  max-width:rem(186.7695);
  width:100%;
}
.about__content {
  max-width:rem(339.2122);
  width:100%;
}
.aboutContent__item-arrows {
  width: rem(172.1967);
  bottom: rem(-40);
  left: 0;
  display: flex;
  justify-content: space-between;
  position: absolute;
}
.aboutContent__item-arrow {
  max-width:rem(56.9768);
  width:100%;
  position: relative;
  z-index: 1;
}
.aboutContent__item-arrow--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: $color-white;
  font-size: rem(18);
  font-weight: $bold;
  display: inline-block;
}
.aboutContet--old .aboutContent__item {
  background: $color-gray;
}
.aboutContet--new .aboutContent__item {
  background: $color-blue;
}
.aboutContet--new .aboutContent__item--turn {
  background: transparent;
}
.aboutContent__item-turn_left_text {
  color: $color-blue;
  font-size: rem(23);
  line-height: calc(30 / 23);
  font-weight: $bold;
}
.aboutContent__item-turn_image {
  max-width:rem(114.8054);
  width:100%;
}
.aboutContent__item-turn_right_text {
  background: $color-blue;
  display: inline-block;
  padding: rem(2) rem(4);
  color: $color-yellow;
  font-weight: $bold;
  font-size: rem(31.76);
  border-radius: rem(3.352);
}