@use "../global" as *;
.c-blue {
    color: $color-theme;
}
.c-trans {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $color-white;
}
.sec-title {
    text-align: center;
}
.sec-title__en {
    font-size: rem(21);
    font-weight: $bold;
}
.about-title__main {
    font-family: $second-font-family;
    font-size: rem(45);
    margin-top: rem(17);
}