@use "../global" as *;

.feature {
  background: $color-white;
  padding: rem(80) rem(0) rem(67.5);
  background: #e3f4f7;
}
.feature__inner {
  width: 100%;
  max-width: calc(848px + ($padding-pc * 2));
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @include mq(md) {
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}
.feature-title__en {
  color: $color-theme;
}
.feature-title__main {
  max-width:rem(342);
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.feature__body {
  margin-top: rem(62);
}
.feature__content {
  display: flex;
  justify-content: center;
  gap:rem(24) rem(16);
  flex-wrap: wrap;
}
.feature__item {
  width: calc((100% - (rem(24) * 1)) / 2);
  display: flex;
  gap: rem(16);
  align-items: center;
  @include mq(md) {
    width: calc((100% - (rem(24) * 0)) / 1);
  }
}
.feature__image {
  max-width:rem(84.352);
  width:100%;
  box-shadow: rem(2) rem(2) rem(3) $color-shadow;
}
.feature__description {
  font-size: rem(23);
  font-weight: $bold;
  font-feature-settings: "palt";
}